.messages-wrapper {
    display: flex;
    padding: 3%;
    flex-direction: column;
    border: 1px solid dimgrey;
    min-height: 60%;
    max-height: 60%;
    margin: 3% 0;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: white;
}

.messages-wrapper .message-card {
    max-width: 60%;
    align-self: flex-start;
    margin: 1% 0;
    display: flex;
}

.messages-wrapper .message-card.right-align{
    align-self: flex-end;
    flex-direction: row-reverse;
}

.messages-wrapper .message-card.right-align .message-card-info{
    background-color: #d3f0ff;

}

.messages-wrapper  .align-center{
    align-self: center;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
    border: 1px solid dimgrey;
    background-color: #d3f0ff;
    border-radius: 1em;
}

.message-card:hover .fa-edit .icon-inactive{
    color: greenyellow;
}

.message-card .message-card-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.message-card .message-card-info {
    border: 1px solid dimgrey;
    border-radius: 1rem;
    padding: 10px;

    margin-left: 15px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.message-card-info p {
    margin: 0;
}

.message-card-info p.nickname {
    font-weight: bold;
    text-transform: capitalize;
}

.message-card .message-time {
    margin-left: 1%;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.message-card .message-time .icon-active {
    cursor: pointer;
    color: green;
}



.icon-inactive{
    cursor: pointer;
    color: dimgrey!important;
}

.icon-inactive a{
    cursor: pointer;
    color: dimgrey!important;

}

.icon-inactive a:hover{
    text-decoration: none;
}

.message-card .message-time .icon-inactive:hover {
    color: black;
}


.message-card .message-time span {
    color: black;
}