#header{
    width: 90%;
    margin: 0 auto;
    font-weight: bolder;
}

#header a {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid dimgrey;
}

#header a:first-of-type{
    margin-left: 0;
}